/b_for_torso1.mtx
/b_for_TSOPF_RS_b678_c2_b.mtx
/minitest.mtx
/torso1.tar.gz
/TSOPF_RS_b678_c2.tar.gz
/.idea
/TSOPF_RS_b678_c2
/cmake-build-debug
/venv
/torso1
/.pytest_cache
/eigen/
/eigen_testx.mtx
/minitestb.mtx
/minitest.mtx
/testb.mtx
/testopt_mini.cpp
/testx.mtx
/testy.mtx
/vol_output_x.mtx
/vol_output_y.mtx
/__pycache__
/testopt.cpp
/optimized_triang_test*
/eigentest.cpp
/optimize.cpp
/starter.cpp